body {
  background-color: #0a0a0a;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px;
}

h1 {
  font-family: Playfair Display, serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 55px;
  color: #fff;
}

.btn__med {
  width: 124px;
  height: 38px;
  border-radius: 100px;
  background-color: #f06666;
  color: #fff;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn__med:hover {
  filter: brightness(90%);
  background-color: #fff;
  color: #0a0a0a;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
}
